<div{{ attributes.addClass('media-full-content', 'remote-video') }}>
    {{ title_suffix.contextual_links }}
    <div class="left">
        {# This video itself #}
        <div class="media-full-image">
            {{ content.field_media_oembed_video}}
        </div>
    </div>
    <div class="right">
        {# Video Credit #}
        {% if media.field_media_credit.value is not empty %}
            <div class="image-credit field">
                <div class="field--label">Video By/Credit</div>
                {% if media.field_credit_source_link.uri is not empty %}
                    <a href="{{media.field_credit_source_link.uri}}">{{ media.field_media_credit.value }}</a>
                {% else %}
                    <p>{{ media.field_media_credit.value }}</p>
                {% endif %}
            </div>


            {# Build the copy credit to look like "Media name | credit, license, link_to_this_page" #}
            {% set credit_copy = name ~ ", " ~ media.field_media_credit.value %}
            {% if media.field_creative_commons_license.0.entity.name.value is not empty %}
                {% set credit_copy = credit_copy ~ ', ' ~ media.field_creative_commons_license.0.entity.name.value %}
            {% endif %}
            {% set path = url('<current>') %}
            {% set  credit_copy = credit_copy ~ ', ' ~ path['#markup'] %}

            {# copy image credit to clipboard #}
            {{ attach_library('fws_gov/copy-photo-credit') }}
            <button data-clipboard-text="{{credit_copy}}" class="btn btn-clipboard" id="copy-button">
                Copy Credit
            </button>
        {% endif %}

        {# Date Shot Created - This field should use the value in circa if there is one #}
        {{content.field_publication_date }}

        {# Media rights/license #}
        {{content.field_creative_commons_license}}

        {# Media type set in fws_media.module preprocess #}
        <div class="media-type field video">{{ media_type }}</div>

        {# caption #}
        {{content.field_media_caption}}

        {# Everything after caption is controlled with the manage display of the media entity #}
        {{ content|without('field_creative_commons_license', 'field_media_oembed_video', 'field_media_credit', 'field_media_caption', 'field_credit_source_link', 'field_publication_date') }}
    </div>

</div>