{#
/**
 * @file
 * Default theme implementation to present a media item.
 *
 * Available variables:
 * - media: The media item, with limited access to object properties and
 *   methods. Only method names starting with "get", "has", or "is" and
 *   a few common methods such as "id", "label", and "bundle" are available.
 *   For example:
 *   - entity.getEntityTypeId() will return the entity type ID.
 *   - entity.hasField('field_example') returns TRUE if the entity includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   Calling other methods, such as entity.delete(), will result in
 *   an exception.
 *   See \Drupal\Core\Entity\EntityInterface for a full list of methods.
 * - name: Name of the media item.
 * - content: Media content.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - attributes: HTML attributes for the containing element.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}

{#
/**
 * This custom template is used to add in some standard markup for the stying of image credits.
 * The first key piece is the addition of the class "image-with-credit" and the view mode as
 * a class. Second is the markup that surrounds the credit link with a class of "attribution". That
 * is set in the fws_media.module in a preprocess_media.
 *
 * However, when an image is captioned, there is a template called filter-caption.html.twig that is executed before this
 * which will wrap everything in this template inside a <figure> tag and the caption in a <figcaption> tag. When that happens,
 * the alignment (left, right) gets hoisted in to that template, and we needed the same to happen w/ the view mode, so we wrote
 * a template_preprocess_filter_caption in the fws_media.module. It's commented pretty well and explains that when images are captioned
 * the view mode attribute is stripped off, which then leaves this code falling back on the default view mode set in the ckeditor config
 * for the Embed Media filter.
#}


<div{{ attributes.addClass('embedded-media-image', view_mode) }}>
    <div class="image-with-credit">
    {{ title_suffix.contextual_links }}

    {# just the image #}
    {{ content.field_media_image }}

    {# just in case the media image has only field_image field #}
    {{ content.field_image }}

        {% if attribution is not empty %}
            <div class="attribution">
                {{attribution}}
            </div>
        {% endif %}
    </div>
</div>
