{#
/**
 * @file
 * Default theme implementation to present a media item.
 *
 * Available variables:
 * - media: The media item, with limited access to object properties and
 *   methods. Only method names starting with "get", "has", or "is" and
 *   a few common methods such as "id", "label", and "bundle" are available.
 *   For example:
 *   - entity.getEntityTypeId() will return the entity type ID.
 *   - entity.hasField('field_example') returns TRUE if the entity includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   Calling other methods, such as entity.delete(), will result in
 *   an exception.
 *   See \Drupal\Core\Entity\EntityInterface for a full list of methods.
 * - name: Name of the media item.
 * - content: Media content.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - attributes: HTML attributes for the containing element.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 *
 * This is the default media template but needs to be put back when using the full content type to 
 * display the varying fields that are not used in the standard image handling, which is a less 
 * specific template. 
 */
#}

{% set first_file_link = file_url(media.field_media_file.0.entity.uri.value) %}
{% set mime_type = content.field_media_file.0['#file'].getMimeType() %}


<div{{ attributes.addClass('media-full-content', 'document') }}>
    {{ title_suffix.contextual_links }}

    {# used to create classes to change icons per mime type 
    {% set mime_class = media.field_mime_type.value|clean_class %}
    <div {{attributes.addClass('media-type', 'field', mime_class)}}>{{ media_type }} - {{media.field_mime_type.value }}</div>
    #}

    <div class="document-summary">
        <div class="document-card">
            {% if is_pdf_first_file == '1' %}
                {# this field has a special formatter, that might not render anything if rep image has a value #}
                {{ content['thumbnail'] }}
            {% endif %}
            {# if we have a rep image, regardless of if this is a first file PDF or not, use this over the generated
               Thumbnail from Medial PDF thumbnail, and link it to the first file #}
            {% if content.field_document_rep_image|render|striptags is not empty %}
                <a href="{{first_file_link}}">
                    {{ content['field_document_rep_image']}}
                </a>
            {% endif %}
            {# if the first file isn't a PDF and rep image is empty, we style up something generic with font awesome
            icons and use that as the clicable card that linkes to the file #}
            {% if is_pdf_first_file is empty and content.field_document_rep_image|render|striptags is empty %}
                <div class="{{mime_type|replace({'/': "-", '.': "-"}) }} no-thumbnail">
                    <a href="{{first_file_link}}">
                        <span class="generic-icon"></span>
                    </a>
                </div>
            {% endif %}

            {# The first file is always shown here at the bottom of the card, others will be shown later if present #}
            {{  content.field_media_file.0 }}

        </div>

        {# if show_download_all_files is true, we have printed the first file with the card display, we need to display
         the rest of the files  under the highlighted card, starting with file number 2 #}
        {% if show_download_all_files == '1' %}
            <div class="additional-files">
                {% for key, item in content.field_media_file %}
                    {# test for numeric keys #}
                    {% if key matches '/^\\d+$/' %}   
                        {# skip item 0 its been rendered above #}
                        {% if key > 0 %}
                            {{ item }}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="download-all">
                <a href="/download/all_files/{{media.id()}}" class="btn btn-primary">Download All Files</a>
            </div>
        {% endif %}

    </div>
    <div class="document-details">
        {{ content['field_document_summary'] }}
        
        {% if media.field_author_staff_profile_ref.target_id or media.field_document_author.value %}
            <div class="authors-combined">
                <div class="field--label">Author(s)</div>
                {{ content['field_author_staff_profile_ref'] }}
                {{ content['field_document_author'] }}
            </div>
        {% endif %}

        {{ content|without('thumbnail', 'field_document_rep_image', 'field_mime_type', 'field_document_summary', 'field_author_staff_profile_ref', 'field_document_author', 'field_media_file') }}

    </div>

</div>