{#
/**
 * @file
 * Theme override to display Manatee information using table layout.
 */
#}

{%
  set classes = [
    'manatee-information',
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}

<article{{ attributes.addClass(classes) }} style="margin-bottom: 22px;">
  <div class="panel panel-primary">
    {# Header section with ID and tracking number #}
    <div class="panel-heading">
      <h3 class="panel-title">
        Basic Information
        {% if content.field_number %}
          (Number: {{ content.field_number.0['#markup'] }})
        {% endif %}
      </h3>
    </div>

    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <th class="col-md-3">Sex</th>
              <td class="col-md-9">{{ content.field_sex is not empty ? content.field_sex : 'N/A' }}</td>
            </tr>
            <tr>
              <th>{{ 'Tracking Number'|t }}</th>
              <td><a href="{{ url('entity.node.canonical', {'node': node.id()}) }}">{{ content.field_number.0['#markup'] is not empty ? content.field_number.0['#markup'] : 'N/A' }}</a></td>
            </tr>
            <tr>
              <th>{{ 'Species ID'|t }}</th>
              <td>{{ primary_species_id }}</td>
            <tr>
              <th>Studbook</th>
              <td>{{ content.field_studbook.0['#context'].value ? content.field_studbook : 'N/A' }}</td>
            </tr>
            <tr>
              <th>Rearing</th>
              <td>{{ node.field_rearing is not empty ? node.field_rearing.entity.field_rearing_type.value : 'N/A' }}</td>
            </tr>
            <tr>
              <th>Names</th>
              <td>{{ content.field_names is not empty ? content.field_names : 'N/A' }}</td>
            </tr>
            <tr>
              <th>Dam's Name(s)</th>
              <td>
              {% if node.field_dam is not empty and node.field_dam.entity.field_names is not empty %}
                {% for name in node.field_dam.entity.field_names %}
                  {{ name.entity.field_name.value }}{% if name.entity.field_primary.value == 1 %} (primary){% endif %}{% if not loop.last %}, {% endif %}
                {% endfor %}
              {% else %}
                N/A
              {% endif %}
              </td>
            </tr>
            <tr>
              <th>Sire's Name(s)</th>
              <td>
              {% if node.field_sire is not empty and node.field_sire.entity.field_names is not empty %}
                {% for name in node.field_sire.entity.field_names %}
                  {{ name.entity.field_name.value }}{% if name.entity.field_primary.value == 1 %} (primary){% endif %}{% if not loop.last %}, {% endif %}
                {% endfor %}
              {% else %}
                N/A
              {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</article>
