{#
/**
 * @file
 * Theme override to display Principal Investigator Contact information using Bootstrap 3 classes.
 */
#}

{%
  set classes = [
    'pi-contact',
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="container-fluid">
    <div style="margin-bottom: 22px;">{{ content.field_species_ref }}</div>

    <!-- Principal Investigator Information Section -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Principal Investigator Information</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th class="col-md-3">PI Name</th>
                <td class="col-md-9">{{ content.field_pi_name }}</td>
              </tr>
              <tr>
                <th>PI ID</th>
                <td>{{ content.field_pi_id }}</td>
              </tr>
              <tr>
                <th>Organization</th>
                <td>{{ content.field_pi_org }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Contact Information Section -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Contact Information</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th class="col-md-3">Email</th>
                <td class="col-md-9">{{ content.field_pi_email }}</td>
              </tr>
              <tr>
                <th>Phone</th>
                <td>{{ content.field_pi_phone }}</td>
              </tr>
              <tr>
                <th>Address</th>
                <td>{{ content.field_pi_address }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Additional Information Section -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Additional Information</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered">
              <tr>
                <th>Created Date</th>
                <td>{{ node.getCreatedTime()|date('m/d/Y') }}</td>
              </tr>
              <tr>
                <th>Last Updated</th>
                <td>{{ node.getChangedTime()|date('m/d/Y') }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</article>