{#
/**
 * @file
 * Theme override to display Rescue information using Bootstrap 3 classes.
 */
#}

{%
  set classes = [
    'rescue-record',
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="container-fluid">
    <div style="margin-bottom: 22px;">{{ content.field_species_ref }}</div>

    <!-- Basic Rescue Information Section -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Rescue Information</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th class="col-md-3">Rescue Date</th>
                <td class="col-md-9">{{ content.field_rescue_date|default('N/A') }}</td>
              </tr>
              <tr>
                <th>Rescue Type</th>
                <td>{{ content.field_rescue_type|default('N/A') }}</td>
              </tr>
              <tr>
                <th>Rescue Per Day</th>
                <td>{{ content.field_rescue_per_day|default('N/A') }}</td>
              </tr>
              <tr>
                <th>Waterway</th>
                <td>{{ content.field_waterway|default('N/A') }}</td>
              </tr>
              <tr>
                <th>Flood Gate Number</th>
                <td>{{ content.field_flood_gate|default('N/A') }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Location Information Section -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Location Details</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th class="col-md-3">City</th>
                <td class="col-md-9">{{ content.field_city|default('N/A') }}</td>
              </tr>
              <tr>
                <th>County</th>
                <td>{{ content.field_county|default('N/A') }}</td>
              </tr>
              <tr>
                <th>State</th>
                <td>{{ content.field_state|default('N/A') }}</td>
              </tr>
              <tr>
                <th>Latitude</th>
                <td>{{ content.field_latitude|default('N/A') }}</td>
              </tr>
              <tr>
                <th>Longitude</th>
                <td>{{ content.field_longitude|default('N/A') }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Health & Measurements Section -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Health & Measurements</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th class="col-md-3">Health Status</th>
                <td class="col-md-9">{{ content.field_health_status|default('N/A') }}</td>
              </tr>
              <tr>
                <th>Length</th>
                <td>{{ content.field_length|default('N/A') }}</td>
              </tr>
              <tr>
                <th>Weight</th>
                <td>{{ content.field_weight|default('N/A') }}</td>
              </tr>
              <tr>
                <th>Estimated Length</th>
                <td>{{ content.field_length_estimated ? 'Yes' : 'No' }}</td>
              </tr>
              <tr>
                <th>Estimated Weight</th>
                <td>{{ content.field_weight_estimated ? 'Yes' : 'No' }}</td>
              </tr>
              <tr>
                <th>Date Measured</th>
                <td>{{ content.field_length_date|default('N/A') }}</td>
              </tr>
              <tr>
                <th>Date Weighed</th>
                <td>{{ content.field_weight_date|default('N/A') }}</td>
              </tr>
              <tr>
                <th>Suspected Pregnant</th>
                <td>{{ content.field_pregnant|default('N/A') }}</td>
              </tr>
              <tr>
                <th>Did animal die during rescue or transport?</th>
                <td>{{ content.field_dead ? 'Yes' : 'No' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Cause Information Section -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Cause Information</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th class="col-md-3">Primary Cause</th>
                <td class="col-md-9">{{ content.field_primary_cause|default('N/A') }}</td>
              </tr>
              <tr>
                <th>Primary Cause Detail</th>
                <td>{{ content.field_primary_cause_detail|default('N/A') }}</td>
              </tr>
              <tr>
                <th>Secondary Cause</th>
                <td>{{ content.field_secondary_cause|default('N/A') }}</td>
              </tr>
              <tr>
                <th>Secondary Cause Detail</th>
                <td>{{ content.field_secondary_cause_detail|default('N/A') }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Personnel & Organization Section -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Personnel & Organization</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th class="col-md-3">Organization</th>
                <td class="col-md-9">{{ content.field_org|default('N/A') }}</td>
              </tr>
              <tr>
                <th>Participating Organizations</th>
                <td>{{ content.field_participating_orgs|default('N/A') }}</td>
              </tr>
              <tr>
                <th>Veterinarian</th>
                <td>{{ content.field_veterinarian|default('N/A') }}</td>
              </tr>
              <tr>
                <th>Transporter</th>
                <td>{{ content.field_transporter|default('N/A') }}</td>
              </tr>
              <tr>
                <th>Tracker</th>
                <td>{{ content.field_tracker|default('N/A') }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Additional Information Section -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Additional Information</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th class="col-md-3">POT Status</th>
                <td class="col-md-9">{{ content.field_pot_status|default('N/A') }}</td>
              </tr>
              <tr>
                <th>Relocated, Where?</th>
                <td>{{ content.field_where_relocated|default('N/A') }}</td>
              </tr>
              <tr>
                <th>Additional Narrative</th>
                <td>{{ content.field_comments|default('N/A') }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</article>