{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{% if content %}
  <div{{ attributes }}>
      <div class="layout-two-column">
    {% if content.first %}
      <div {{ region_attributes.first.addClass('layout-two-column__sidebar') }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second %}
      <div {{ region_attributes.second.addClass('layout-two-column__content') }}>
        <div class="filters-and-content__content-blocks">
          {{ content.second }}
        </div>
      </div>
    {% endif %}
      </div>
  </div>
{% endif %}
