{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{% set wrapper_attributes = create_attribute() %}

{% if content %}
    {# has_content is set in the build() of the class file #} 
  <div{{ attributes }}>
    <div{{wrapper_attributes.addClass(settings.container)}}>
      {% if (settings.heading is not empty) and (content['#has_content']) %}
        {% if settings.heading_size == 'h4' %}
          <h4>{{settings.heading}} </h4>
        {% elseif settings.heading_size == 'h3' %}
          <h3>{{settings.heading}} </h3>
        {% else %}
          <h2>{{settings.heading}} </h2>
        {% endif %}
      {% endif %}
      {% if content.first %}
        <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first') }}>
          {{ content.first }}
        </div>
      {% endif %}

      {% if content.second %}
        <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second') }}>
          {{ content.second }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}