{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{% if content %}
  <div{{ attributes.addClass('tabular-result') }}>
    <div class="tabular-result--inner">
    {% if content.first %}
      <div {{ region_attributes.first.addClass('tabular-result--content') }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second %}
      <div class="tabular-result--more--button">
        <span class="more--toggle more"><span class="text">More</span><span class="caret"></span></span>
      </div>
    {% endif %}
    </div>

    {% if content.second %}
      <div {{ region_attributes.second.addClass('tabular-result--content-more') }}>
        <div class="tabular-result--content-more--inner">
          {{ content.second }}
        </div>
      </div>
    {% endif %}
  </div>
{% endif %}
