{# Menu Links Template - menu.html.twig #}
{% macro menu_links(items, attributes, menu_level) %}
  {% if items %}
    {% set classes = [
      menu_level == 0 ? 'nav navbar-nav',
      menu_level > 0 ? 'dropdown-menu',
    ] %}
    {# Id injected for ADA purposes with bootstrapDropdowns behavior in web/themes/custom/fws_raf/js/script-raf.js #}
    <ul{{ attributes.addClass(classes) }}{% if menu_level > 0 %} id="submenu--inject-value" role="menu"{% endif %}>
      {{ dd }}
      {% for item in items %}
        {%
          set item_classes = [
            item.below ? 'dropdown',
            item.in_active_trail ? 'active',
          ]
        %}
        <li{{ item.attributes.addClass(item_classes) }} {% if menu_level > 0 %}role="none"{% endif %}>
          {% if menu_level == 0 and item.below %}
            {% set submenu_id = 'submenu-' ~ item.title|clean_id %}
            <a href="{{ item.url }}"
               class="dropdown-toggle"
               data-toggle="dropdown"
               role="button"
               aria-controls="{{ submenu_id }}"
               aria-expanded="false"
               aria-haspopup="true"
               {{ item.in_active_trail ? 'aria-current="page"' : '' }}
               tabindex="0">
              {{ item.title }} <span class="caret" aria-hidden="true"></span>
            </a>
            {{ _self.menu_links(item.below, attributes.removeClass(classes), menu_level + 1) }}
          {% else %}
            <a href="{{ item.url }}" {% if menu_level > 0 %}role="menuitem" tabindex="-1"{% else %}tabindex="0"{% endif %} {{ item.in_active_trail ? 'aria-current="page"' : '' }}>{{ item.title }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{{ _self.menu_links(items, attributes, 0) }}
