{#
/**
 * @file
 * Default theme implementation to display a menu for subpages.
 * NOTE: This relies on the subpage_menu.js file from fws_subpages and the
 *       Menu Block module. Refer to fws_subpage module and it's template at
 *       web/modules/custom/fws_subpages/templates/subpage_menu.html.twig
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('fws_subpages/fws_subpages.extras') }}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}

<ul class="menu menu--subpage nav">
    {{ menus.menu_links(items, attributes, 0) }}
</ul>
{% macro menu_links(items, attributes, menu_level, parent_url) %}
  {% import _self as menus %}
  {% if items %}
    {% for item in items %}
        {% if item.url|render != parent_url %}
            {% if item.below %}
                <li class="has-children {{ (item.is_expanded == true or item.in_active_trail == true) ? 'expanded' : '' }}">
                <a class="menu-toggle {{ item.in_active_trail == true ? 'is-active' : '' }}"></a>
                <a href="{{item.url}}" class="menu-link-text {{ item.in_active_trail == true ? 'is-active' : '' }}">
                    {{item.title}} 
                </a>
            {% else %}
                <li{{ item.attributes }}>
                    {{ link(item.title, item.url) }}
            {% endif %}
            {% if item.below %}
                {% set last_link = item.title %}
                <ul class="nav subnav">
                    {{ menus.menu_links(item.below, attributes, menu_level + 1, item.url|render) }}
                </ul>
            {% endif %}
            </li>
        {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}