{% set id = random() %}
<div class="accordion">
    <div class="accordion-header" id="heading{{id}}">
        <button type="button" class="text-left accordion-button collapsed" data-toggle="collapse" data-target="#collapse{{id}}" aria-expanded="false" aria-controls="collapse{{id}}">
            {{content|without('field_response') }}
        </button>
    </div>

    <div id="collapse{{id}}" class="collapse" aria-labelledby="heading{{id}}">
        <div class="accordion-body">
            {{ content|without('field_prompt') }}
        </div>
    </div>
</div>
