{% set colorNumbers = [0,1,2,3,0,1,2,3,0,1,2,3,0,1,2,3] %}

<div class="block-mulitiple-icon-image-blocks">
{% for key,item in items %}
    {% if item.content['#paragraph'].field_link.0.url.external or item.content['#paragraph'].field_link.0.url.isRouted == false %}
        {% set linkurl = item.content['#paragraph'].field_link.0.uri %}
    {% else %}
        {% set linkurl = path(item.content['#paragraph'].field_link.0.url.routeName, item.content['#paragraph'].field_link.0.url.routeParameters,item.content['#paragraph'].field_link.0.url.options) %}
    {% endif %}
    <div {{ attributes.addClass('image-icons-card') }} }}>
        <a href="{{linkurl}}" title="{{item.content['#paragraph'].field_title.0.value}}">
            <div class="card-image circle-color-{{colorNumbers[key]}}">
                    <img src="{{item.content['#paragraph'].field_image.0.entity.field_media_image.entity.uri.value  | image_style('large_square')}}"
                         alt="{{item.content['#paragraph'].field_image.0.entity.field_media_image.0.alt}}" loading="lazy">
                    {% if item.content['#paragraph'].field_icon.entity.uri.value %}
                        {{source(file_url(item.content['#paragraph'].field_icon.entity.uri.value))}}
                    {% endif %}
            </div>
        </a>
        <div class="card-title">
            <h3>
                <a href="{{linkurl}}" title="{{item.content['#paragraph'].field_title.0.value}}" class="text-color-{{colorNumbers[key]}}">
                    {{item.content['#paragraph'].field_title.0.value}}
                </a>
            </h3>
        </div>
    </div>
{% endfor %}
</div>