{#
/**
 * @file
 * Custom theme implementation to present user data for the RCGR system.
 *
 * This template overrides the default user.html.twig template specifically for
 * the RCGR site when viewing user registration data.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}

{%
  set classes = [
    'registration-form',
    'clearfix',
  ]
%}

<article{{ attributes.addClass(classes) }} style="margin-bottom: 22px;">

  {# Individual Account Information - shown for non-business registrants or always? Assuming shown when NOT business #}
  {% if user.field_bi_cd is not defined or user.field_bi_cd.value != 'B' %}
  <div class="panel panel-primary mt-3">
    <div class="panel-heading">
      <h3 class="panel-title">Personal Information</h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            {# Applicant Name #}
            <tr>
              <th class="col-md-3">Applicant Name</th>
              <td class="col-md-9">
                {% set applicant_name_parts = [] %}
                {% if user.field_applicant_first_name.value %}{% set applicant_name_parts = applicant_name_parts|merge([user.field_applicant_first_name.value]) %}{% endif %}
                {% if user.field_applicant_middle_name.value %}{% set applicant_name_parts = applicant_name_parts|merge([user.field_applicant_middle_name.value]) %}{% endif %}
                {% if user.field_applicant_last_name.value %}{% set applicant_name_parts = applicant_name_parts|merge([user.field_applicant_last_name.value]) %}{% endif %}
                {% if user.field_applicant_suffix.value %}{% set applicant_name_parts = applicant_name_parts|merge([user.field_applicant_suffix.value]) %}{% endif %}

                {% if applicant_name_parts is not empty %}
                  {{ applicant_name_parts|join(' ') }}
                {% else %}
                  N/A
                {% endif %}
              </td>
            </tr>
            {# Applicant Telephone #}
            <tr>
              <th class="col-md-3">Telephone</th>
              <td class="col-md-9">
                {% if user.field_applicant_telephone.value %}
                  {{ user.field_applicant_telephone.value }}
                {% else %}
                  N/A
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endif %}


  {# Business Information - only shown for business registrants #}
  {% if user.field_bi_cd is defined and user.field_bi_cd.value == 'B' %}
  <div class="panel panel-primary mt-3">
    <div class="panel-heading">
      <h3 class="panel-title">Business Information</h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            {# Business Name #}
            <tr>
              <th class="col-md-3">Business Name</th>
              <td class="col-md-9">
                {% if user.field_applicant_business_name.value %}
                  {{ user.field_applicant_business_name.value }}
                {% else %}
                  N/A
                {% endif %}
              </td>
            </tr>

            {# Registrant Type Code #}
             <tr>
              <th class="col-md-3">Registrant Type</th>
              <td class="col-md-9">
                {% if user.field_registrant_type_cd.value %}
                  {{ user.field_registrant_type_cd.value }} {# Consider mapping code to label if needed #}
                {% else %}
                  N/A
                {% endif %}
              </td>
            </tr>

            {# Principal Information #}
            {% if user.field_principal_last_name.value is not empty or user.field_principal_first_name.value is not empty or user.field_principal_middle_name.value is not empty or user.field_principal_suffix.value is not empty %}
            <tr>
              <th class="col-md-3">Principal Name</th>
              <td class="col-md-9">
                {% set principal_name_parts = [] %}
                {% if user.field_principal_first_name.value %}{% set principal_name_parts = principal_name_parts|merge([user.field_principal_first_name.value]) %}{% endif %}
                {% if user.field_principal_middle_name.value %}{% set principal_name_parts = principal_name_parts|merge([user.field_principal_middle_name.value]) %}{% endif %}
                {% if user.field_principal_last_name.value %}{% set principal_name_parts = principal_name_parts|merge([user.field_principal_last_name.value]) %}{% endif %}
                {% if user.field_principal_suffix.value %}{% set principal_name_parts = principal_name_parts|merge([user.field_principal_suffix.value]) %}{% endif %}

                {% if principal_name_parts is not empty %}
                  {{ principal_name_parts|join(' ') }}
                {% else %}
                  N/A {# Should not happen if any part exists, but safe fallback #}
                {% endif %}
              </td>
            </tr>
            {% endif %}

            {% if user.field_principal_title.value is not empty %}
            <tr>
              <th class="col-md-3">Principal Title</th>
              <td class="col-md-9">{{ user.field_principal_title.value }}</td>
            </tr>
            {% else %}
             <tr>
              <th class="col-md-3">Principal Title</th>
              <td class="col-md-9">N/A</td>
            </tr>
            {% endif %}

            {% if user.field_principal_telephone.value is not empty %}
            <tr>
              <th class="col-md-3">Principal Telephone</th>
              <td class="col-md-9">{{ user.field_principal_telephone.value }}</td>
            </tr>
             {% else %}
             <tr>
              <th class="col-md-3">Principal Telephone</th>
              <td class="col-md-9">N/A</td>
            </tr>
            {% endif %}

             {% if user.field_principal_email.value is not empty %}
            <tr>
              <th class="col-md-3">Principal Email</th>
              <td class="col-md-9">{{ user.field_principal_email.value }}</td>
            </tr>
            {% else %}
             <tr>
              <th class="col-md-3">Principal Email</th>
              <td class="col-md-9">N/A</td>
            </tr>
            {% endif %}

            {# Primary Contact Information #}
            {% if user.field_primary_contact_name.value is not empty %}
            <tr>
              <th class="col-md-3">Primary Contact Name</th>
              <td class="col-md-9">{{ user.field_primary_contact_name.value }}</td>
            </tr>
            {% else %}
             <tr>
              <th class="col-md-3">Primary Contact Name</th>
              <td class="col-md-9">N/A</td>
            </tr>
            {% endif %}

            {% if user.field_primary_contact_phone.value is not empty %}
            <tr>
              <th class="col-md-3">Primary Contact Phone</th>
              <td class="col-md-9">{{ user.field_primary_contact_phone.value }}</td>
            </tr>
             {% else %}
             <tr>
              <th class="col-md-3">Primary Contact Phone</th>
              <td class="col-md-9">N/A</td>
            </tr>
            {% endif %}

            {% if user.field_primary_contact_email.value is not empty %}
            <tr>
              <th class="col-md-3">Primary Contact Email</th>
              <td class="col-md-9">{{ user.field_primary_contact_email.value }}</td>
            </tr>
            {% else %}
             <tr>
              <th class="col-md-3">Primary Contact Email</th>
              <td class="col-md-9">N/A</td>
            </tr>
            {% endif %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endif %}

  {# Address Information #}
  <div class="panel panel-primary mt-3">
    <div class="panel-heading">
      <h3 class="panel-title">Address Information</h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <th class="col-md-3">Address</th>
              <td class="col-md-9">
                {% set address_lines = [] %}
                {% if user.field_applicant_address_l1.value %}{% set address_lines = address_lines|merge([user.field_applicant_address_l1.value]) %}{% endif %}
                {% if user.field_applicant_address_l2.value %}{% set address_lines = address_lines|merge([user.field_applicant_address_l2.value]) %}{% endif %}
                {% if user.field_applicant_address_l3.value %}{% set address_lines = address_lines|merge([user.field_applicant_address_l3.value]) %}{% endif %}

                {% if address_lines is not empty %}
                  {% for line in address_lines %}<div>{{ line }}</div>{% endfor %}
                {% else %}
                  N/A
                {% endif %}
              </td>
            </tr>

            <tr>
              <th class="col-md-3">City</th>
              <td class="col-md-9">
                {% if user.field_applicant_city.value %}
                  {{ user.field_applicant_city.value }}
                {% else %}
                  N/A
                {% endif %}
              </td>
            </tr>

            {# County #}
            <tr>
              <th class="col-md-3">County</th>
              <td class="col-md-9">
                {% if user.field_applicant_county.value %}
                  {{ user.field_applicant_county.value }}
                {% else %}
                  N/A
                {% endif %}
              </td>
            </tr>

            <tr>
              <th class="col-md-3">State</th>
              <td class="col-md-9">
                {% if user.field_applicant_state.value %}
                  {{ user.field_applicant_state.value }}
                {% else %}
                  N/A
                {% endif %}
              </td>
            </tr>

            <tr>
              <th class="col-md-3">ZIP Code</th>
              <td class="col-md-9">
                {% if user.field_applicant_zip.value %}
                  {{ user.field_applicant_zip.value }}
                {% else %}
                  N/A
                {% endif %}
              </td>
            </tr>
            {# Removed Telephone from here as it's in Individual group #}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</article>
